<h1> Listing authors </h1>

<table>
  <tr>
    <th>First name</th>
    <th>Last name</th>
    <th>Homepage</th>
    <th>Name</th>
    <th>Show author page</th>
    <th>Edit author</th>
    <th>Delete author</th>
  </tr>

  <% @authors.each do |author| %>
    <tr>
      <td><%= author.first_name %></td>
      <td><%= author.last_name %></td>
      <td><%= author.homepage %></td>
      <td><%= author.name %></td>
      <td><a href="authors/<%=author.id %>">Show</a></td>
      <td><a href="authors/<%=author.id %>/edit">Edit</a></td>
      <td><%= button_to 'Destroy', author_path(author),
	      method: :delete,
              data: { confirm: 'Are you sure?' } %></td>
    </tr>
  <% end %>
</table>

<a href="/authors/new">Add author</a>
