<h1>New Author</h1>

<%= form_for :author, url: authors_path do |f| %>
  <p>
    <%= f.label :First_name %><br>
    <%= f.text_field :First_name %>
  </p>
 
  <p>
    <%= f.label :Last_name %><br>
    <%= f.text_area :Last_name %>
  </p>

  <p>
    <%= f.label :Homepage %><br>
    <%= f.text_area :Homepage %>
  </p>
 
  <p>
    <%= f.submit %>
  </p>
<% end %>
