<h1>Listing papers</h1>

<table>
  <tr>
    <th>Title</th>
    <th>Venue</th>
    <th>Year</th>
    <th>Show</th>
    <th>Edit</th>
    <th>Destroy</th>
  </tr>

  <% @papers.each do |paper| %>
    <tr>
	<td><%= paper.title %></td>
	<td><%= paper.venue %></td>
	<td><%= paper.year %></td>
	<td><a href="<%=paper.id %>">Show</a></td>
        <td><a href="<%=paper.id %>/edit">Edit</a></td>
        <td><%= button_to 'Destroy', paper_path(paper),
	      method: :delete,
              data: { confirm: 'Are you sure?' } %></td>
        <td><a data-confirm="You sure?" rel="nofollow" data-method="delete" href="papers/<%=paper.id %>">Destroy</a></td>
    </tr>
  <% end %>
</table>

<a href="/papers/new">Add paper</a>
