
<strong>Title:</strong>
  <%= @paper.title %>
</p>

<p>
  <strong>Venue:</strong>
  <%= @paper.venue %>
</p>

<p>
  <strong>Year:</strong>
 <%= @paper.year %>
</p>

<h2>Authors</h2>
<% @paper.authors.each do |author| %>
  <p>
    <strong>First name:</strong>
    <%= author.first_name %>
  </p>
 
  <p>
    <strong>Last name:</strong>
    <%= author.last_name %>
  </p>

  <p>
    <strong>Homepage:</strong>
    <%= author.homepage %>
  </p>

  <p>
    <strong>Name:</strong>
    <%= author.name %>
  </p>
<% end %>

<h2>Add a author:</h2>
<%= form_for([@paper, @paper.authors.build]) do |f| %>
  <p>
    <%= f.label :first_name %><br>
    <%= f.text_field :first_name %>
  </p>
  <p>
    <%= f.label :last_name %><br>
    <%= f.text_area :last_name %>
  </p>
  <p>
    <%= f.label :homepage %><br>
    <%= f.text_area :homepage %>
  </p>
  <p>
    <%= f.submit %>
  </p>
<% end %>

<%= link_to 'Edit', edit_paper_path(@paper) %> |
<%= link_to 'Back', papers_path %>

